<template>
    <div id="app">

        <div :class="$style.container" >


            <Header/>

            <hr>

            <VideoPlayer><ViewerCurrentViewPanel /></VideoPlayer>



        </div>


    </div>
</template>

<script>
    import VideoPlayer from '../components/VideoPlayer'
    import ViewerCurrentViewPanel from '../components/ViewerCurrentViewPanel'
    import Header from '../components/Header'


    export default {
        name: 'App',
        components: {
            VideoPlayer,  ViewerCurrentViewPanel, Header
        },
        methods: {
            getBackend() {
                return this.$store.state.config.backendServer;
            },
            getCounter() {
                return this.$store.state.auth.counter;
            }
        },
        mounted() {
            console.log(this.getBackend());


            this.$http.get(this.getBackend()+"/session").then(response => {
                console.log(response.data);

                if (!response.data.auth) {
                    var authURL = this.$store.state.config.googleAuthURL;
                    //   location.href='http://www.google.com';
                }

                this.$store.dispatch('requestSessionData',
                    response.data
                );

                this.$store.dispatch('loadVideos',this.getBackend());


            }, response => {
                console.log('error!!!');
                console.log(response);
            });

        }

    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }

    :root{
        --accent-color: rgba(0, 0, 0, 0.26);
        --primary-color: rgba(0, 0, 0, 0);
        --dark-color: #2E294E;
    }

    *{
        box-sizing: border-box;
    }
</style>


<style module>
    .container{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: var(--primary-color);
        overflow-y: scroll;
    }
</style>
