<template>
    <div class="container">



            <b-tabs>
                <b-tab title="Viewer" active>

                    Do you like to watch videos? <br>
                    <a href="/redirect" >Enter by Google</a>



                </b-tab>
                <b-tab title="Streamer" >
                    <div class="card card-default">
                        <div class="card-header">Login</div>

                    <div class="card-body">
                        <div class="alert alert-danger" v-if="has_error">
                            <p>Error trying to log in</p>
                        </div>
                        <form autocomplete="off" @submit.prevent="login" method="post">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" class="form-control" v-model="password" required>
                            </div>
                            <button type="submit" class="btn btn-default">Connexion</button>
                        </form>
                    </div>
                    </div>

                </b-tab>
            </b-tabs>




    </div>
</template>

<script>

    export default {
        data() {
            return {
                email: null,
                password: null,
                has_error: false
            }
        },


        methods: {
            login() {
                // get the redirect object
                var redirect = this.$auth.redirect()
                var app = this
                this.$auth.login({
                    params: {
                        email: app.email,
                        password: app.password
                    },
                    success: function(data) {
                        // handle redirection
                        const redirectTo = redirect ? redirect.from.name : this.$auth.user().role === 2 ? 'admin.dashboard' : 'dashboard'
                        console.log(data);
                        this.$router.push({name: redirectTo})
                    },
                    error: function() {
                        app.has_error = true
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            }
        }
    }
</script>
