<template>
    <div class="my-chat">

        <span class="user-title">{{getUsername()}}</span>
        <p>
            URL: <span>{{serverURL}}</span><br>
            Channel: <span>{{getChannel()}}</span><br>
        </p>

        <div id="log"></div>
        <input id="msg" type="textbox" :disabled="!chatEnabled"
               v-on:keypress.enter="chat_send" >

        <button v-on:click="chat_send">Send</button>
        <button v-on:click="chat_quit">Quit</button>
        <button v-on:click="chat_reconnect">Init</button>


    </div>
</template>

<script>
    export default {

        props:
            ['chat_host', 'chat_channel']
        ,

        data() {
            return {
                socket: null,
                readyState: null,
                chatEnabled: false
            };
        },

        methods: {
            chat_init() {
                try {
                    this.socket = new WebSocket(this.serverURL);
                    //this.log('WebSocket - status ' + this.socket.readyState);
                    this.socket.onopen = this.sock_onopen;
                    this.socket.onmessage = this.sock_onmessage;
                    this.socket.onclose = this.sock_onclose;
                }
                catch (ex) {
                    this.log(ex);
                    this.log(this.serverURL);
                }

                document.getElementById("msg").focus();
            },

            sock_onopen() {

                this.log("Welcome " + this.getUsername());
                this.handshake();
                this.chatEnabled = true;
            },

            sock_onmessage(msg) {
                this.log(msg.data);
            },

            sock_onclose(msg) {
                this.log("Disconnected...");
                this.chatEnabled = false;
            },


            chat_send(event) {
                console.log("Sending...");
                var txt, msg;
                txt = document.getElementById("msg");
                msg = txt.value;
                if (!msg) {
                    alert("Message can not be empty");
                    return;
                }
                txt.value = "";
                txt.focus();
                try {
                    this.socket.send(msg);
                    this.log('You: ' + msg);
                } catch (ex) {
                    this.log(ex);
                }
            },

            chat_reconnect() {
                this.chat_quit();
                this.chat_init();
            },


            chat_quit(event) {
                console.log("Quiting...");
                if (this.socket != null) {
                    this.log("Goodbye, " + this.getUsername());
                    this.socket.close();
                    this.socket = null;
                }
            },

            log(msg) {
                document.getElementById("log").innerHTML +=  msg+"<br>";
            },


            getUsername() {
                return this.$store.state.auth.displayName;
            },

            getChannel() {
                return this.chat_channel || '0';
            },

            handshake() {

                var pkg = {
                    username : this.$store.state.auth.username,
                    user_id : this.$store.state.auth.user_id,
                    channel : this.$store.state.video.activeVideo.id,
                };



                this.socket.send("#handshake#=" + JSON.stringify(pkg));

            }

        },
        computed: {

            serverURL() {
                return this.$store.state.config.myServerURL || this.chat_host || '127.0.0.1:9000';
            }

        }
    }
</script>

<style>


    .my-chat {
        color: red;
    }

    #log {
        width: 600px;
        height: 300px;
        border: 1px solid #7F9DB9;
        overflow: auto;
    }

    #msg {
        width: 400px;
    }

    #msg:disabled  {
        background-color: #ababab;
    }


</style>
