<template>
    <div>
        This is the current view... [{{activeVideo().title}}]
    </div>
</template>


<script>

    export default {
        name: 'sidebar',

        methods: {
            activeVideo() {
                return this.$store.state.video.activeVideo;
            }
        },

        computed: {
            current () {
                return this.$store.state.video.selected

            }
        }

    }


</script>
