<template>
    <b-table striped hover :items="getFansList" :fields="fields"></b-table>
</template>


<script>
    import Vue from 'vue'
    import BootstrapVue from 'bootstrap-vue'

    Vue.use(BootstrapVue);


    export default {
        data () {
            return {

                fields: [
                    {
                        key: 'displayName',
                        sortable: true
                    },
                    {
                        key: 'messageCount',
                        sortable: true
                    },
                    {
                        key: 'lastAccessed',
                        sortable: true
                    }
                ]
            }
        },
        computed: {
            getFansList() {
                return this.$store.state.video.fansStats;
            }
        }
    }
</script>
