<template>

    <b-navbar toggleable="md" type="dark" variant="info">

        <b-navbar-brand href="/">Stream Viewer</b-navbar-brand>


        <!--<b-button size="sm" class="my-2 my-sm-0" v-on:click="update">Is logged? <span>{{isLogged()}}</span></b-button>-->


        <b-navbar-nav class="ml-auto">

            <b-button v-if="!this.$store.state.auth.is_logged" href="/redirect">Login</b-button>

            <b-nav-item-dropdown right v-if="this.$store.state.auth.is_logged">

                <template slot="button-content">
                    <em>{{getUsername()}}</em>
                </template>
                <b-dropdown-item  href="/logout">Signout</b-dropdown-item>

            </b-nav-item-dropdown>
        </b-navbar-nav>

    </b-navbar>


</template>


<script>

    export default {

        data() {
            return {
                'is_logged':0
            };
        },

        methods: {
            getUsername() {
                return this.$store.state.auth.username
            },

            isLogged() {
                return this.$store.state.auth.is_logged;
            },

            update() {

                this.$store.dispatch('requestUpdateSessionData');

                //this.is_logged = 1;
                //return this.$store.state.auth.is_logged
            }
        }

    }


</script>
