<template>

    <div class="search-chat-mention">

        <div class="search-wrapper">
            <input type="text" v-model="search" placeholder="Search title.."/>
        </div>

        <div class="search-results">

            <div class="chat-message" v-for="message in filteredMessages">
                {{message.when}}: {{message.author}}: {{message.contents}}
            </div>

        </div>



    </div>

</template>


<script>



    export default {
        data() {
            return {
                search : '',
            }
        },

        methods: {

            getBackend() {
                return this.$store.state.config.backendServer;
            },
            currentChannel() {
                return this.$store.state.video.activeVideo.id;
            },

            getMessagesList() {
                return this.$store.state.video.messagesList;
            }

        },


        computed: {
            filteredMessages() {
                var lsMessages = this.getMessagesList();

                return lsMessages.filter(message => {
                    return message.author.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        }
    }

</script>



<style>
    .search-results {
        min-height: 150px;
        overflow-y: scroll;
    }
</style>
