<template>
    <div class="video-player">
        <div class="video-container">
            <iframe width="640" height="360" :src="this.activeVideo().youtubeURL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h3>{{this.activeVideo().title}}</h3>
            <div class="row">
                <p>{{this.activeVideo().views}} views</p>

                <!--<p>{{this.activeVideo().likes}} <button class="like-btn" :disabled="!isLogged()" @click="addLike">Like</button></p>-->

            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <slot></slot>
                </div>
            </div>
        </div>

        <div class="video-list">
            <div :key="video.id" v-for="video in videos()" class="thumbnail" @click="chooseVideo(video)" >
                <div class="thumbnail-img">
                    <img :src="video.thumbnail" />
                </div>
                <div class="thumbnail-info">
                    <h3>{{video.title}}</h3>
                    <p>{{video.creator}}</p>
                    <p class="thumbnail-views">{{video.views}} Views</p>
                </div>
            </div>
        </div>

    </div>
</template>

<script>


    export default {
        name: 'VideoPlayer',
        methods:{
            chooseVideo(video){
                //SET VIDEO AS ACTIVE VIDEO

               //video.views += 1;

                //this.activeVideo = video;
                this.$store.dispatch('chooseVideo',video);


            },
            addLike(){
                this.$store.dispatch('likeVideo');
                //this.activeVideo().likes += 1;
            },

            videos() {
                return this.$store.state.video.videos;
            },

            activeVideo() {
                return this.$store.state.video.activeVideo;
            },

            isLogged() {
                return this.$store.state.auth.is_logged;
            }

        }


    }
</script>

<style scoped>
    .thumbnail{
        display:flex;
    }

    .thumbnail img{
        width:168px;
    }

    .thumbnail-info{
        margin-left:20px;
    }

    .thumbnail h3{
        font-size:16px;
    }

    h3,
    p{
        margin:0;
        padding:0;
    }

    .thumbnail-views{
        font-size:14px;
    }

    .video-player{
        display:flex;
        width:1200px;
        margin:auto;
    }

    .video-container{
        margin-right:40px;
    }

    .row{
        display:flex;
        justify-content:space-between;
    }

    .like-btn{
        background:#D0021B;
        color:white;
        border:none;
        padding:10px 20px;
    }

    .like-btn:disabled {
        background: gray;
        color:black;
    }

</style>
