<template>

    <div class="my-current-view-panel">


        <b-card no-body v-if="isLogged()">

            <b-tabs card>
                <b-tab title="Fans List" active>
                    <FansList></FansList>
                </b-tab>
                <b-tab title="History Messages" active>
                    <SearchChatBox/>
                </b-tab>
                <b-tab title="Chat" active>
                    <Chat v-bind:chat_channel="currentChannel()"/>
                </b-tab>
            </b-tabs>

        </b-card>

        <div class="not-logged" v-if="!isLogged()">
            Login to interact with streamers and other users
        </div>


    </div>

</template>



<script>

    import FansList from './FansList';
    import SearchChatBox from './SearchChatBox';
    import Chat from './Chat';

    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'

    export default {
        name: 'ViewerCurrentViewPanel',
        components: {
            FansList, SearchChatBox, Chat
        },
        methods : {
            currentChannel() {
                return this.$store.state.video.activeVideo.id;
            },
            isLogged() {
                return this.$store.state.auth.is_logged;
            }
        }
    }

</script>

<style >

    .not-logged {
        color: red;
        font-size: large;
    }

</style>
