<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Admin Dashboard</div>

            <div class="card-body">
                Admin dashboard
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            //
        }
    }
</script>
